.logo
{
width: 120px;
}
.container-patrocinio
{
  margin-top: 1em;
}
.primera
{
height: 114px;
line-height: 114px;
}

nav ul a {
font-size: 1rem;
color:#fff;
}
nav
{
box-shadow: none;
}
.btn-floating
{
  background-color:#ffb74d;
}

.content
{
margin-top: 5em;
}

@media (min-width: 992px) {
.nav-wrapper
{
margin:0 200px;
}
}

ul li a
{
font-weight: 500;

}
 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

@media(min-width: 601px){
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
height: 120px;
line-height: 123px;
}

.mapa
{
  max-height: 100px;
}
.pie
{

}
}

.social .left a,
.social .right a
{
    margin:5px;
    font-weight: 300;
}

.full-width
{
  width: 100%;
}

.caja,.mapa
{
  max-height: 550px;
  overflow: hidden;
  margin:0;
}


.texto, .pie
{
  margin: 0;
  margin-top: 0 important!;
}

.bienvenido
{
  margin:70px 0;
}

.up
{
  margin-top: 1.1em;
}

element.style {
}
.slider .indicators .indicator-item {

background-color: #D74848;
}

p
{
  color:#212121
}



footer.page-footer
{
  margin-top: 0;
}
